:root {
  --color-body: #272d30;
  --color-primary: #323d41;
  --color-secondary: #3F4E4F;
  --color-button: #dddddd;
  --color-headline-text: #f0f0f0;
  --color-text: #dad9d9;
  --color-button-text: #1f1e1f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  background: var(--color-body);
  color: var(--color-text);
}

a {
  color: var(--color-text);
  text-decoration: none;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

.row {
  display: flex;
  row-gap: 1rem;
  flex-wrap: wrap;
}

.row.card-list>* {
  width: 25%;
  padding-left: .5rem;
  padding-right: .5rem;
}

@media (max-width:992px) {
  .row.card-list>* {
    width: 33.33%;
  }
}

@media (max-width:576px) {
  .row.card-list>* {
    width: 50%;
  }
}

@keyframes modalFade {
  from {
    transform: translate(0, -30px);
    opacity: 0;
  }
}

.loadingToast {
  transition: all 5s linear;
  transform: scaleX(0) !important;
}